# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env

# Django
db.sqlite3
staticfiles/

# Node / React
node_modules/
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log